<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="domain.Menu">
    <id column="menuid" jdbcType="INTEGER" property="menuid" />
    <result column="menuname" jdbcType="VARCHAR" property="menuname" />
    <result column="menupath" jdbcType="VARCHAR" property="menupath" />
    <result column="menustatus" jdbcType="VARCHAR" property="menustatus" />
    <result column="menutype" jdbcType="VARCHAR" property="menutype" />
  </resultMap>
  <sql id="Base_Column_List">
    menuid, menuname, menupath, menustatus, menutype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where menuid = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where menuid = #{menuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Menu">
    insert into menu (menuid, menuname, menupath, 
      menustatus, menutype)
    values (#{menuid,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, #{menupath,jdbcType=VARCHAR}, 
      #{menustatus,jdbcType=VARCHAR}, #{menutype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuid != null">
        menuid,
      </if>
      <if test="menuname != null">
        menuname,
      </if>
      <if test="menupath != null">
        menupath,
      </if>
      <if test="menustatus != null">
        menustatus,
      </if>
      <if test="menutype != null">
        menutype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuid != null">
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null">
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menupath != null">
        #{menupath,jdbcType=VARCHAR},
      </if>
      <if test="menustatus != null">
        #{menustatus,jdbcType=VARCHAR},
      </if>
      <if test="menutype != null">
        #{menutype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Menu">
    update menu
    <set>
      <if test="menuname != null">
        menuname = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menupath != null">
        menupath = #{menupath,jdbcType=VARCHAR},
      </if>
      <if test="menustatus != null">
        menustatus = #{menustatus,jdbcType=VARCHAR},
      </if>
      <if test="menutype != null">
        menutype = #{menutype,jdbcType=VARCHAR},
      </if>
    </set>
    where menuid = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Menu">
    update menu
    set menuname = #{menuname,jdbcType=VARCHAR},
      menupath = #{menupath,jdbcType=VARCHAR},
      menustatus = #{menustatus,jdbcType=VARCHAR},
      menutype = #{menutype,jdbcType=VARCHAR}
    where menuid = #{menuid,jdbcType=INTEGER}
  </update>
  <select id="getAllMenuList" resultMap="BaseResultMap">
    select * from menu
  </select>
  <select id="getAllEnableMenuList" resultMap="BaseResultMap">
    select * from menu where menustatus = "enable"
  </select>
  <select id="getAllEnableMenuListExceptSystem" resultMap="BaseResultMap">
    select * from menu where menutype != "system" and menustatus = "enable"
  </select>
</mapper>