<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>security</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/safety/libs/element_ui/index.ui.min.css">
    <link rel="stylesheet" href="/safety/module/app.css">
    <script src="/safety/libs/vue.js"></script>
    <script src="/safety/libs/element_ui/index.ui.min.js"></script>
    <script src="/safety/compotents/nav_menu.js"></script>
    <script src="/safety/module/app.js"></script>
    <script src="/safety/libs/jquery.min.js"></script>
    <script type="text/javascript">
    tabs_items = [
        {
            name: 'index',
            title: '主页',
            icon: 'el-icon-star-on',
            content: '/safety/index.html',
            closable: false
        }
    ]
    
    function setSideMenuFromMenulist(menuList) {
    	 $.each(nav_menu.main_menu, function(name, item) {
      	   for(let i=0; i< menuList.length; i++) {
      		   if(name == menuList[i].menutype) {
      			   menuList[i].menuid = "" + menuList[i].menuid;
      			   item.subitems.push(menuList[i]);
      		   }
      	   }
      	   nav_menu.component_data.push(item);
         });
    }
    
    var app = null;
    var menuList = null;
    var default_selected_tab_name = "index";
    $(function() {
        $.ajax({
            type: "post",
            url: "/safety/app",
            async: true,
            success: function(rtlObj) {
               if(typeof(rtlObj.username) == "undefined") {
                   document.location.href = rtlObj.url;
               } else {
                   app.username = rtlObj.username;
                   setSideMenuFromMenulist(rtlObj.menulist);
                   app.loading = false;
                   $(window).resize(function() {
                       app.aside_height = document.documentElement.clientHeight;
                   });
               }
            },
            error: function(data) {
                console.log("error");
                $("body").html(data.responseText);
            }
        });
    });
</script>
</head>
<body>
<div id="app" 
	v-loading.fullscreen.lock="loading" 
	element-loading-text="数据加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 1)">
    <el-container>
        <el-header>
        	<i class="el-icon-menu" @click="shoe_hide_menu"></i> Header
        	<div style="position: absolute; right: 10px; top: 10px;">
                {{username}} 
                <el-switch
                	@change="logout"
                	v-model="login_status"
	                active-text="注销">
                </el-switch>
            </div>
        </el-header>
        <el-container >
            <el-aside :width="aside_width" :style="{height: aside_height-60 + 'px;', 'padding-top': '3px'}">
                <c-nav-menu @menu-click="addTab" :menu_display="menu_display"></c-nav-menu>
            </el-aside>
            <el-main>
                <el-tabs v-model="selected_tab_name" type="border-card" @tab-remove="removeTab" :style="{height: aside_height-65 + 'px'}">
                    <el-tab-pane
                        v-for="(tab, index) in tabs_items"
                        :key="tab.name"
                        :label="tab.title"
                        :closable="tab.closable"
                        :name="tab.name">
                        <span slot="label"><i :class="tab.icon"></i> {{tab.title}}</span>
                        <iframe :src="tab.content" style="width:100%;min-height:660px;border:none;"></iframe>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
	app = app_init();
</script>
</body>
</html>